# This points NPM to the GitHub package server for packages under the @incrementalelm namespace
# First move this template to `.npmrc`
# Then replace YOUR_AUTH_TOKEN_HERE with a GitHub auth token
# The auth token must have the scope "read:packages"
# Create your auth token with these instructions
# https://docs.github.com/en/free-pro-team@latest/github/authenticating-to-github/creating-a-personal-access-token

registry=https://registry.npmjs.org/
@incrementalelm:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=YOUR_AUTH_TOKEN_HERE
